.header#fixed-header
  .header__left-part
    a.logo.navbar-brand(href='/')
      ='Bulletin Board'
    if !autorised 
      span.d-inline-block(
        tabindex='0',
        data-toggle='tooltip',
        title='If You want to create bulletin, please login or register',
        placement='auto'
      )
        button.btn.btn-sm.btn-info.disabled#add-bulletin-btn(type='button',data-toggle='modal', data-target='#modal__create-bulletin', aria-disabled="true")
          ='Add Bulletin'
    else
      button.btn.btn-sm.btn-primary#add-bulletin-btn(type='button',data-toggle='modal', data-target='#modal__create-bulletin', aria-disabled="false")
        ='Add Bulletin'
  .header__right-part
    if autorised
      a.nav-link.header__right-part-user-link(href='#')
        =`${user}`
      button.btn.btn-sm.btn-danger#log-out-btn(type='button', data-user-mail=`${user}`)
        ='Log Out'
    else
      button.btn.btn-sm.btn-primary#sign-in-btn.sign(type='button', data-toggle='modal', data-target='#modal__sign-in')
        ='Sign In'
      button.btn.btn-sm.btn-danger#sign-up-btn.sign(type='button', data-toggle='modal', data-target='#modal__sign-up')
        ='Sign Up'