mixin bulletin_card(authorMail, rating, text, id, image, name, findId)
  - var rate = rating || 0
  .card.bulletin-card
    .img-container
      if image
        img.card-img-top(src= `${image}`,alt= "image")
      else
        img.card-img-top(src="./images/default.gif", alt= "No Image")
    .card-body
      h5.card-title
        =`${name}`
      h7.card-subtitle.text-muted   
        =`${authorMail}`
      p.card-text
        =`${text}`
      a.card-link.link-with-rating(href = '#', data-find=`${findId}`, data-id=`${id}`, data-autor=`${authorMail}`)
        =`Read more...`
        .rating-container
          .top-rating
            = 'Top rating:'
          - var count = 0
          .star-inactive-block
            while count < rate
              - count ++
              img.star(src="./images/star.svg", alt="star") 
      if autorised && (user === authorMail)
        .edit-block
          button.btn-danger.btn-sm#delete-bulletin(type='button', data-find=`${findId}`)
            ='Del'
          button.btn-warning.btn-sm#edit-bulletin(type='button' data-find=`${findId}`)
            ='Edit'
      